.header {
  display: flex;
  width: 100%;
  height: 120vh;
  background:
  url("../Italy/images/фон.jpg")center
  no-repeat;
  background-size: cover;
}
body{
  margin: 0;
  font-size: 32px;
  color: #fff;
  width: 100%;
  font-family: 'Archivo', sans-serif;
  background: #7F824E;
}
.nav{
  display: flex;
  height: 5%;
  font-weight: 700px;
  justify-content: space-evenly;
  justify-content: flex-end;
  margin-top: 3%;
  margin-left: 58%;
}
.nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  transition: color .2s linear;
}
.nav_link:hover {
  color: #489635;
}
.nav_link:after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #489635;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}
.nav_link:hover:after,
.nav_link.active:after{
  opacity:1;
}
.nav_link.active{
  color: #489635; 
}
.title{
  height: 10vh;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  margin-top: 18%;
  margin-left: -61%;
}
.subtitle{
  display: flex;
  margin-left: -60%;
  margin-top: 33%;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  height: 10%;
}
.under_subtitle{
  display: flex;
  margin-top: 38%;
  margin-left: -13%;
}
.title1{
  display: flex;
  justify-content: center;
  height: 10vh;
  margin-top: 5%;
  font-size: 48px;
  font-weight: 700;
}
.group_images{
  display: flex;
  margin-top: 3%;
  margin-left: 10%;
}
.text{
  display: flex;
  margin-top: -30%;
  margin-left: 60%;
  text-align: right;
}
.line1{
  border: 3px solid #FFFDFD;
  display: flex;
  margin-top: 7%;
}
.line2{
  border: 3px solid #FFFDFD;
  display: flex;
  margin-top: .5%;
  margin-right: 45%;
}
.line3{
  border: 3px solid #FFFDFD;
  display: flex;
  margin-top: .5%;
  margin-left: 45%;
}
.line4{
  border: 3px solid #FFFDFD;
  display: flex;
  margin-top: .5%;
}
.image_man{
  margin-left: 15%;
  margin-top: 3%;
}
.text_review1{
  margin-top: -11%;
  margin-left: 30%;
}
.image_woman{
  margin-top: 10%;
  margin-left: 70%;
}
.text_review2{
  margin-top: -11%;
  margin-left: 15%;
}
.image_garden{
  margin-left: 10%;
  margin-top: 9%;
}
.image_street{
  margin-left: 60%;
  margin-top: -10%;
}
.footer_images{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 5%;
  margin-left: 10%;
  margin-right: 10%;
}
.name_image{
  margin-left: 5%;
  font-family: 'Alice',serif;
}
.name_image1{
  margin-left: 10%;
  font-family: 'Alice',serif;
}