.html {
background: #e6e9e9;
background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
-webkit-font-smoothing: antialiased;
}

/*сброс css*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}
    /* Убираем внутренние отступы */
    ul[class],
    ol[class] {
    padding: 0;
    }

    /* Убираем внешние отступы */
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    ul[class],
    ol[class],
    li,
    figure,
    figcaption,
    blockquote,
    dl,
    dd {
    margin: 0;
    }

body {
margin: 0;
font-family: 'Montserrat', sans-serif;
font-size: 15px;
line-height: 1.6;
color: #333;
}
*,
*:before,
*:after{
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
margin: 0;
}
.container{
width: 100%;
max-width: 1200px;
margin: 0 auto;
}
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
 width: 100%;
 height: 100vh;
background:
url("../mogo/intro.jpg.jpg")center
no-repeat;
-webkit-background-size: cover;
background-size: cover;
}

.intro_inner{
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.intro_subtitle{
  margin-bottom: 1px;
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  color: #fff;
}

.intro_title{
  color: #fff;
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.intro_title:after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 60px auto;
  background-color: #fff;
}

    .header {
      padding-top: 30px;
        width: 100%;
        position: absolute;
        top: 0; 
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .header_inner{
    display: flex;
    justify-content: space-between;
    }
    .header_logo {
        font-size: 30px;
        font-weight: 700;
        color: #fff;
    }

    .nav {
        font-size: 14px;
        text-transform: uppercase;
    }

    .nav_link {
      display: inline-block;
      vertical-align: top;
      margin: 0 15px;
      position: relative;
        color: #fff;
        text-decoration: none;
        margin: 0 15px;
        transition: color .2s linear;
    }

    .nav_link:hover {
        color: #fce38a;
    }

    .nav_link:after{
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fce38a;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      transition: opacity .1s linear;
    }
    .nav_link:hover:after,
    .nav_link.active:after{
      opacity:1;
    }

    .nav_link.active{
      color: #fce38a;
    }

    .btn{
      display: inline-block;
      vertical-align: top;
      padding: 8px 30px;
      border: 3px solid #fff;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      transition: background .1s linear, color .1s linear;
    }

    .btn:hover{
     background-color: #fff;
     color:black;
    }

    .slider{
      width: 100%;
      position:absolute;
      bottom: -10px;
      left: 0;
      z-index: 1;
    }

    .slider_inner{
      display: flex;
      justify-content: space-between;
    }

    .slider_item{
      width: 23%;
      padding: 20px 0;
      position: relative;
      border-top: 3px solid #fff;
      opacity: .7;
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
    }

    .slider_item.active{
      opacity: 1;
    }

    .slider_item.active:before {
      content: "";
      display: block;
      width: 70px;
      height: 3px;
      background-color: #f38181;
      position:absolute;
      top: -3px;
      left: 0;
      z-index: 1;
    }

    .slider_num{
      font-size: 24px;
      font-weight: 700;
    }

    .section{
      padding: 80px 0;
    }

    .section_header{
      width: 100%;
      max-width: 950px;
      margin: 0 auto 40px;
      text-align: center;
    }
.section_subtitle{
  font-family: 'Kaushan Script';
  font-size: 24px;
  color: #333;
}

.section_title{
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.section_title:after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 30px auto;
}

.section_text{
  color: #999;
  font-size: 15px;
}

.about{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
 }
 
 .about_item{
   width: 380px;
   background-color: #95e1d3;
   position: relative;
 }
 
 .about_item:hover .about_img{
  transform: translate3d(-10px, -10px, 0);
 }
 
 .about_item:hover .about_img img{
   opacity: .1;
 }
 
 .about_item:hover .about_text{
  opacity: 1;
 }
 
 .about_img{
   background: linear-gradient(to bottom,#f38181, #fce38a);
   transition: transform .1s linear;
 }
 
 .about_img img{
   display: block;
   transition: opacity .1s linear;
 }
 
 .about_text{
  width: 100%; 
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: opacity .1s linear;
 }

 .statistics{
  background-color: #95e1d3;
}

.stat{
  display: flex;
}

.stat_item{
  flex: 1 1 0;
  padding: 70px 25px;
  border-left: 1px solid #b5eae0;
  text-align: center;
  color: #fff;
 }

.stat_item:last-child{
  border-right: 1px solid #b5eae0;
}

.stat_count{
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}

.stat_text{
  font-size: 14px;
  text-transform: uppercase;
}