body{
  background-color: #111111;
  color: #fff;
  min-width: 1200px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
/*контент*/
.header1{
  width: 100%;    
  display: flex;
  top:0;
  position: sticky;
  background-color: #111111;
  height: 115px;
}
.header__inner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-top: -10px;
  margin-left: -60px;
}
.text_menu {
  font-family: 'Recursive', sans-serif;  
  font-size: 14px;
  font-weight: 400;
  width: 280px;
  height: 34px;
  color: #fff;
  margin-top: -75px;
  margin-left: -80px;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 65%;
  font-size: 18px;
  z-index: 1;
  font-family: 'Recursive', sans-serif;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -75px;
}  
.menu__link {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #fff;
  border-bottom: 4px solid transparent;
  padding-bottom: 5px;
  transition: .3s linear;
} 
.menu__link:hover {
  border-bottom: 4px solid #6C63FF;
} 
.menu__link.active {
  border-bottom: 4px solid #6C63FF;
}
.block1{
  margin-top: 66px;
}
.title{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 48px;
}
.title_main{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 48px;
}
.undertitle{
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 25px;
}
.main_title{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side_rectangle{
  width: 250px;
  height: 250px;
  background: #F7FDFF;
  border-radius: 25px;
  margin-top: 30px;
}
.center_rectangle{
  width: 300px;
  height: 300px;
  background: #F7FDFF;
  border-radius: 25px;
}
.rectangles{
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  margin-left: 150px;
  margin-right: 150px;
}
.undertitle_rectangle{
  font-size: 36px;
  margin-top: 20px;
}
.undertitle_big_rectangle{
  font-size: 36px;
  margin-top: 0px;
}
.text_rectangle{
  color: #000;
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.title_big_rectlangle{
  font-size: 128px; 
  transform: rotate(90deg);
  margin-top: 20px;
}
.block1_circle_right{
  position: absolute;
  right: 0;
  z-index: -1;
}
.block1_circle_left{
  position: absolute;
  right: 85%;
  z-index: -1;
}
.lines{
  margin-top: 100px;
}
.block_image{
  margin-top: 160px;
  display: flex;
  justify-content: space-around;
}
.location_link{
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  padding-bottom: 5px;
  transition: .3s linear;
}
.location_link:hover {
  border-bottom: 3px solid #6C63FF;
} 
.location_link.active {
  border-bottom: 3px solid #6C63FF;
}
.first_string{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}
.text_image{
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
  margin-left: 28px;
  margin-top: 5px;
}
.other_string{
  margin-top: 25px;
}
.button{
  background: #6C63FF;
  border-radius: 30px;
  width: 277px;
  height: 60px;
  margin-top: 40px;
  font-family: 'Recursive', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}
.button:hover{
  background-color: #3b32eb;
  transition: .3s;
}
.button_card{
  text-decoration: none;
  color: #fff;
}
.text_button{
  text-align: center;
  padding: 19px;
}
.block_image_right{
  margin-top: 160px;
  display: flex;
  justify-content: space-around;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/*footer*/ 
.footer{ 
 width: 100%; 
 display: flex; 
 top:80; 
 
 } 
 
 .line { 
 width: 100%; 
 height: 3px; 
 background-color: #fff; 
 margin-top: 180px; 
 } 
 
 .general { 
 display: flex; 
 flex-direction: row; 
 justify-content: space-between; 
 margin-top: 20px; 
 } 
 
 
 .text1, .text2, .text3 { 
 font-family: 'Recursive', sans-serif; 
 font-size: 22px; 
 font-weight: 400; 
 color: #fff; 
 padding-top: 20px; 
 border-bottom: solid 2px #6C63FF; 
 
 } 
 
 .text_information { 
 font-family: 'Recursive', sans-serif; 
 font-size: 19px; 
 font-weight: 400; 
 color: #BAAEAE; 
 width: 359px; 
 text-align: left; 
 } 
 
 .icons1_footer { 
 margin-top: 40px; 
 } 
 
 .icon1_inst { 
 width: 33px; 
 height: 33px; 
 } 
 .icon2_vk { 
 margin-left: 20px; 
 } 
 
 
 .text_locat, .text_tel, .text_mail { 
 margin-left: 50px; 
 margin-top: -30px; 
 font-family: 'Recursive', sans-serif; 
 font-size: 19px; 
 font-weight: 400; 
 color: #BAAEAE; 
 } 
 
 .icons_4, .icons_5 { 
 margin-top: 40px; 
 } 
 
 .links { 
 display: flex; 
 flex-direction: column; 
 line-height: 8px; 
 } 
 
 .footer__link { 
 font-family: 'Recursive', sans-serif; 
 font-size: 19px; 
 font-weight: 400; 
 color: #BAAEAE; 
 text-decoration: none; 
 margin-top: -7px; 
 } 
 
 .footer__link:hover { 
 color: #3b32eb; 
 transition: .3s; 
 } 
 
 .texts_footer_down { 
 display: flex; 
 flex-direction: column; 
 text-align: left; 
 padding-right: 300px; 
 margin-top: 80px; 
 } 
 
 .text1_footer_down, .text2_footer_down, .text3_footer_down { 
 font-family: 'Recursive', sans-serif; 
 font-size: 18px; 
 font-weight: 400; 
 color: #BAAEAE; 
 } 
 
 .text2_footer_down { 
 text-decoration: underline; 
 margin-top: 13px; 
 } 
 
 .text3_footer_down { 
 text-decoration: underline; 
 margin-left: 450px; 
 margin-top: -40px; 
 } 
 
 .logo_footer { 
 margin-top: -130px; 
 float: right; 
 }
.title{
  width: 510px;
}
.text_string{
  width: 500px;
}
@media only screen and (max-device-width:1200px){
  .block_image{
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .block_image_right{
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .block1_circle_right{
    position: absolute;
    right: -114px;
  }
  .text{
    margin-top: 50px;
  }
  .first_string{
    align-content: center;
    justify-content: center;
  }
  .button{
    margin-left: 115px;
  }
}
@media only screen and (max-device-width:992px){
  .block_image{
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    text-align: center;
    align-items: center;    
    justify-content: center;
  }
  .block_image_right{
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .block1_circle_right{
    position: absolute;
    right: -114px;
  }
  .text{
    margin-top: 50px;
  }
  .first_string{
    align-content: center;
    justify-content: center;
  }
  .button{
    margin-left: 115px;
  }
  .title{
    font-size: 36px;
  }
  .text_information, .text1_footer_down, .text2_footer_down, .text3_footer_down, .text_locat, .text_tel, .text_mail, .text1__links_footer, .text2__links_footer, .text3__links_footer, .text4__links_footer, .text5__links_footer, .text6__links_footer, .text7__links_footer{
    font-size: 12px;
  }
  .text1, .text2, .text3{
  font-size: 14px;
  }
  .undertitle_rectangle, .undertitle_big_rectangle{
    font-size: 32px;
  }
  .logo_footer{
    width: 164px;
  }
  .icon1_inst, .icon2_vk, .icon3_locat, .icon4_tel, .icon5_mail{
    width: 24px;
  }
}
@media only screen and (max-device-width:660px){
  .block_image{
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .block_image_right{
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .block1_circle_right{
    position: absolute;
    right: -114px;
  }
  .text{
    margin-top: 50px;
  }
  .title{
   font-size: 36px;
  }
  .first_string{
    align-content: center;
    justify-content: center;
  }
  .button{
    margin-left: 115px;
  }
  .text1, .text2, .text3{
  font-size: 14px;
  }
  .text_information, .text1_footer_down, .text2_footer_down, .text3_footer_down, .text_locat, .text_tel, .text_mail, .text1__links_footer, .text2__links_footer, .text3__links_footer, .text4__links_footer, .text5__links_footer, .text__links_footer{
    font-size: 12px;
  }
  .undertitle_rectangle, .undertitle_big_rectangle{
    font-size: 32px;
  }
}
