html {
  background: #fff;
  -webkit-font-smoothing: antialiased;
}
.block1{
  height: 1200px;
  background: linear-gradient(180deg, #113E67 0%, #5681A8 100%);
  -webkit-background-size: cover;
  background-size: cover;
}
body{
  margin: 0;
  font-family: 'Montserrat';
  font-size: 36px;
  line-height: 1.6;
  color: #fff;
}
*,
*:before,
*:after{
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.nav {
  font-size: 36px;
  display: flex;
  justify-content: space-evenly;
  justify-content: flex-end;
  height: 30%;
  margin-right: 10%;
}
.nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  transition: color .2s linear;
  margin-top: 4%;
}
.nav_link:hover {
  color: rgb(108, 189, 255);
}
.nav_link:after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: rgb(108, 189, 255);
  opacity: 0;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity .1s linear;
}
.nav_link:hover:after,
.nav_link.active:after{
  opacity:1;
}
.intro_image{
  background:url("../Aidan/images/image1.jpg");
  background-repeat: no-repeat;
  justify-content: flex-start;
  margin-left: 10%;
  margin-top: -8%;
  width: 59%;
  height: 64%;
}
.title{
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  margin-top: -40%;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 70px; 
}
.subtitle{
  display: flex;
  justify-content: flex-end;
  margin-right: 14%;
  margin-top: 2%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  line-height: 40px;
}
.signature{
  display: flex;
  margin-left: 48%;
  margin-top: 17%;
  font-family: Rouge Script;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}
.facts{
  justify-content: center;
  margin: 3%;
  text-align: center;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 60px;
  color: #000000;
}
.block2{
  display: flex;
  background: #5681A8;
}
.container{ 
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.block_item{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-right: 6%;
  margin-left: 6%;
  margin-top: 4%;
  margin-bottom: 4%;
}
.block_number{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 88px;
}
.block3_title{
  margin: 2%;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 96px;
  text-align: center;
  color: #000000;
}
.text{
  color: #000000;
  margin: 0 6%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: justify;
}
.image2{
  display: flex;
  justify-content: center;
  margin: 4%;
  margin-bottom: 6%;
}
.social_media{
  margin: 2%;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 96px;
  text-align: center;
  color: #FFFFFF;
}
.image_media1:hover, .image_media2:hover, .image_media3:hover{
 opacity: .3;
 transition: transform .1s;
}
.image_media2{
  margin: 0 20vh;
  margin-bottom: 5%;
}
.image_media1{
  padding-left: 60vh;
}
